@{
    ViewBag.Title = "3dCart Sample Custom Service App";
}

<div class="jumbotron">
    <h1>3dCart - Sample Custom Shipping Service</h1>
    <p class="lead">This is a sample application created by 3dCart simulating an independent shipping service to get real-time shipping rates to be used on the 3dcart stores.</p>
    <p><a href="https://support.3dcart.com/knowledgebase/article/View/881/3/how-do-i-use-the-shipping-api-custom-shipping-service-module" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>